.category
  padding-bottom: 99px
  &-wrap
    border-top: 1px solid #ECEEF2
    margin-top: 78px
    padding-left: 2px
    width: 100%
  &-item
    width: 265px
    height: auto
    display: flex
    flex-direction: column
    align-items: center
    border: 1px solid #ECEEF2
    box-sizing: border-box
    border-radius: 8px
    padding: 40px 0 30px 0
    margin-top: 59px
    &:not(:last-child)
      margin-right: 26px
    &__img
      margin: 0 auto
    &__title
      font-family: 'Roboto', sans-serif
      font-style: normal
      font-weight: 500
      font-size: 22px
      line-height: 32px
      text-align: center
      letter-spacing: 0.2px
      color: $text-color
      margin: 41px 0 11px 2px
      padding: 0
    &__text
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 22px
      text-align: center
      color: #5A7184
      margin: 0
      padding: 0

.slick-slide
  width: 265px

.slider
  position: relative
  padding: 0px 60px // поля между стрелкой и краем слайдера

.slick-arrow
  position: absolute
  top: 172px // выравнивание по вертикали
   // стрелки сверху картинок
  font-size: 0 // убираем надпись на дефолтной стрелке
  width: 56px
  height: 56px
  border: none
  z-index: 50
.slick-prev
  left: -5px
  background: url('../img/category/prev.png') no-repeat
  &::after
    content: ''
    position: absolute
    top: -20px
    left: -20px
    width: 56px // ширина стрелки
    height: 56px
    border-radius: 50%
    z-index: -10
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08)
.slick-next
  right: -50px
  top: 174px
  background: url('../img/category/next.png') no-repeat
  &::after
    content: ''
    position: absolute
    top: -20px
    right: 20px
    width: 56px // ширина стрелки
    height: 56px
    border-radius: 50%
    z-index: -10
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.08)
